<div class="container">
  <div *ngIf="carregando" class="spinner-centralizado"></div>

  <div *ngIf="mensagemErro && !carregando" class="erro-container">
    <p>{{ mensagemErro }}</p>
  </div>

  <div *ngIf="credito && !carregando" class="card-detalhes-credito">
    <h2>Detalhes do Crédito</h2>
    <p><strong>Número do Crédito:</strong> {{ credito.numeroCredito }}</p>
    <p><strong>Número da NFS-e:</strong> {{ credito.numeroNfse }}</p>
    <p><strong>Data de Constituição:</strong> {{ credito.dataConstituicao | date:'dd/MM/yyyy' }}</p>
    <p><strong>Valor ISSQN:</strong> {{ credito.valorIssqn | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p><strong>Tipo de Crédito:</strong> {{ credito.tipoCredito }}</p>
    <p><strong>Simples Nacional:</strong> {{ credito.simplesNacional ? 'Sim' : 'Não' }}</p>
    <p><strong>Alíquota:</strong> {{ credito.aliquota }}%</p>
    <p><strong>Valor Faturado:</strong> {{ credito.valorFaturado | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p><strong>Valor Dedução:</strong> {{ credito.valorDeducao | currency:'BRL':'symbol':'1.2-2' }}</p>
    <p><strong>Base de Cálculo:</strong> {{ credito.baseCalculo | currency:'BRL':'symbol':'1.2-2' }}</p>
  </div>

  <div *ngIf="!credito && !carregando && !mensagemErro" class="sem-resultados">
    <p>Nenhum detalhe de crédito encontrado.</p>
  </div>

  <button class="botao-voltar" (click)="voltar()">Voltar para a Consulta</button>

</div>
