.container {
  padding: 20px;
  max-width: 700px;
  margin: 20px auto;
}

.botao-voltar {
  margin-bottom: 20px;
  width: 100%;
  @media (min-width: 600px) {
    width: auto;
  }
}

.card-detalhes-credito {
  margin-top: 20px;
  padding: 20px;

  mat-card-title {
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    margin-bottom: 10px;
    line-height: 1.5;
  }

  strong {
    color: #333;
    display: inline-block;
    min-width: 150px;
  }


  @media (max-width: 599px) {
    p {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
    }
    strong {
      margin-bottom: 5px;
      min-width: unset;
    }
  }
}

.spinner-centralizado {
  margin: 20px auto;
  display: block;
}

.erro-container,
.sem-resultados {
  margin-top: 20px;
  padding: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.erro-container {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.sem-resultados {
  background-color: #e2e3e5;
  color: #383d41;
  border: 1px solid #d6d8db;
}